body {
  text-align: center;
  background-color: #011F3F;
}

.text {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin:  5%;
  color: #FEF2BF;
}

.starting-h1{
  font-family: 'Press Start 2P', cursive;
  font-style: normal;
  font-size: 5rem;
  font-style: normal;

  background: linear-gradient(to right, #d57521, #172191);
  background-clip: text;
  color: transparent;
  text-shadow: 4px 7px #0d2e575e;
}

.start-container{
  display: flex;
  height: 350px;
  align-items: center;
  justify-content: center;
}

.start{
  text-shadow: black 4px 7px;
  animation: pop 1s infinite;
  cursor: pointer;
}

@keyframes pop {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.logo{
  position: relative;
  top: 5px;
  right: 3px;
  height: 80px;
}

.modal{
  position: fixed;
  background-color: #0e2249;
  border-radius: 5%;
  border-color: #FEF2BF;
  border-style: solid;
  border-width: 3px;
  height: 500px;
  width: 600px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -40%);
}

li{
  font-size: 1.6rem;
  padding: 5px;
  color: #f1e9e0;
}

h2{
  font-size: 3rem;
  margin: auto;
  color: #f1e9e0;
}
.close-button{
  float: right;
  font-size: 3rem;
  font-weight: bold;
  color: #f1e9e0;
  transform: translate(-30px);
  cursor: pointer;
}

.rules-button{
  width: 300px;
  height: 100px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  bottom: 30px;
  border: solid;
  border-color: #f1e9e0;
  border-radius: 20%;
  cursor: pointer;
}

.rules-button-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.hide{
  display: none;
}

.game-container {
  display: grid;
  grid-template-columns: repeat(2, 200px);
  grid-template-rows: repeat(2, 200px);
  width: 35%;
  gap: 50px;
  margin: auto;
}

.btn {
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
  cursor: pointer;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}
